on init
    chown system system /sys/class/leds/vibrator/state
    chown system system /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/activate

service vendor.vibrator-cm6 /vendor/bin/hw/android.hardware.vibrator-service.cm6
    class hal
    user system
    group system